
.post h2 {
  font-size: 1.5em; 
  font-weight: bold;
  border-radius: 4px;
  background:#B9D3EE;
  /*text-align: center;*/
  padding: 6px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 6px solid #1874CD;
  box-shadow: 0px 5px 5px #9FB6CD;
}

.post h3 {
  font-size: 1.2em; 
  text-indent: 4px;
  font-weight: bold;
  /*border-radius: 4px; 
  padding: 6px 15px;
  margin-bottom: 20px;
  margin-top: 5px;
  background:#B9D3EE;*/
  /*0px right, 5px botton, 5px fuzzy*/
  /*box-shadow: 0px 5px 5px #9FB6CD;*/
  border-left: 2px solid #1874CD;
  position:relative;
}
